@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

@layer utilities {
  .h-500 {
    height: 500px;
  }

  .h-pi {
    min-height: 32em;
  }
}

/* Custom Radial Gradient */
.rad-red {
  background: rgb(211, 2, 1);
  background: radial-gradient(
    circle,
    rgba(211, 2, 1, 1) 0%,
    rgba(169, 1, 0, 1) 100%
  );
}

.epic-gray {
  background: rgb(251, 251, 251);
  background: linear-gradient(
    183deg,
    #f0f0f0 calc(75% - 1px),
    rgba(255, 255, 255, 1) 75%
  );
}

/* z-index not working? */
.z-1 {
  z-index: 1;
}

.inset-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
